
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
.header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .loading-indicator-container {
    padding: 30px;
    display: flex;              /* Enable flexbox */
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
}

/* Add this to your style.css file */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  
  .pics {
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* fadeIn animation for 0.5s */
    cursor: pointer;
    position: relative;
  }

 
  .author-name {
    position: absolute;
    z-index: 3;
    bottom: 0%;
    display: block;
    background: linear-gradient(to right, rgba(240, 248, 255, 0.2), rgba(240, 248, 255, 0.8) 15%, rgba(240, 248, 255, 0)); /* Gradient from aliceblue to a lighter blue */
    font-size: 1.5em;
    width: 100%;
    padding-left: 16px;
    height: 1.8em;
    overflow: hidden;
    line-height: 1.8em;
}


  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }





