.App {
  text-align: center;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.photo-item {
  cursor: pointer;
  width: 300px;
}

.photo-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.photo-detail {
  padding: 20px;
}

.photo-detail img {
  max-width: 100%;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0073e6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
